
<!--
 * COMP229-015    Group 7
 * Group Project  Part 4 Final Release
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * Akash Arora – 300849838
 * Nithiyavany Vijai – 301212774
 * 
 * File name:     main_nav.ejs
 * Description:   Contains main navigation layout and structure
-->

  <!-- Main Nav -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"> Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/survey-list"> Surveys</a>
          </li>
          </ul>
          
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <!-- If displayName is a string and exists -->
            <% if(typeof displayName == 'string' && displayName) { %>
              <li class="navbar-text"> Welcome, <%= displayName %></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
            <% } else { %>
              <li class="nav-item"><a href="/login" class="nav-link" >Login</a></li>
            <% } %>
          </ul>
        
      </div>
    </div>
  </nav>