<!--
 * COMP229-015    Group 7
 * Group Project  Part 4 Final Release
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * Akash Arora – 300849838
 * Nithiyavany Vijai – 301212774
 * 
 * File name:     addShortAnswers.ejs
 * Description:   Add survey page
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<br> <br> <br>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">

            <h1 class="text-center">Create a Survey</h1>
            
            <form class="form" method="POST">

                <div class="form-group mt-3 mb-3">
                    <fieldset>
                        <legend>Survey Type</legend>
                        <select name="optSurveyType" class="form-control custom-select is-valid"  id="question-type">
                            <option value="Multiple Choice">Multiple choice</option>
                            <option value="Short Answers" selected>Short answer</option>
                        </select>
                        <!-- <input type="radio" name="optSurveyType" id="surveyTypeMultipleChoice"
                            value="Multiple Choice" checked>&nbsp;
                        <label for="surveyTypeMultipleChoice">Multiple
                            Choice</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input type="radio" name="optSurveyType" id="surveyTypeShortAnswers"
                            value="Short Answers" onclick="location.href='/survey-list/addShortAnswers'">&nbsp;
                        <label for="surveyTypeShortAnswers">Short Answers</label> -->

                    </fieldset>
                </div>
                

                <div class="form-group mb-3">
                    <label for="titleTextField">Survey Name</label>
                    <input type="text" class="form-control" id="titleTextField" placeholder="Type Survey Name" name="title" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="descriptionTextField">Survey Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextField" placeholder="Type Survey Description" name="description" required></textarea>
                </div>
                
                <div class="form-group mb-3">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="q1TextField">Question</label>
                    <input type="text" class="form-control" id="q1TestField" placeholder="Type Question" name="q1" required>
                </div>
                
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>
<script>
    // Get a reference to the selectbox
    var selectbox = document.getElementById('question-type');

    // Add an event listener for the 'change' event
    selectbox.addEventListener('change', function() {
      // Get the value of the selected option
      var value = this.value;

      // Redirect to the appropriate page based on the selected value
      if (value === 'Multiple Choice') {
        window.location.href = '/survey-list/add';
      } 
    });
  </script>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>